<p> Hey you! Viens remplir mon formulaire! Viens on est bien bien bien bien bien</p>

<form method="post" action="/">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <p>Votre pseudo: <input type="text" name="username" /></p>
  <p>Votre email: <input type="text" name="email" /></p>
  <p>Un petit mot sur vous? <input type="text" name="bio" /></p>
  <br>
  <input type="submit" value="Envoyer" />
</form>

<div id="container_contacts">
<% @all_users.each do |user| %>
<div class="contact">
  <%= user[:username] %>
  <%= user[:email] %>
  <%= user[:bio] %>
</div>
<br>
<% end %>
</div>
